apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.image.containerPort }} # Leitet auf 8080
#      nodePort: {{ .Values.service.nodePort }}
  selector:
    app: {{ .Release.Name }}
